@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --orange: #ED7839;
    --light-orange: #FDF1EB;
    --light-brown: #725C5C;
    --dark-grey: #4E4E4E;
    --gradient-orange: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}





/* side-menu */

.side-menu{
    position: fixed;
    width: 18%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    order: 0;
    min-width: 150px;
}





/* side-bar */

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 68px;
    width: 100%;
}







/* Tipo */

#nome-evento{
    position: relative;
    height: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: var(--gradient-orange);
    width: 100%;
    text-align: center;
}


#textoSlaca{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    top: 20%;
}






/* logo */

#logoSlaca{
    position: relative;
    width: 100%;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: center;
}

#logoSlaca img{
    object-fit: contain;
    max-height: 220px;
    max-width: 258px;
    width: 100%;
    height: 100%;
} 








/* Opções do menu */

.menu-itens{
    position: relative;
    width: 100%;
    height: 38px;
    text-decoration: none;
    border-bottom: 2px solid #E7E7E7;
}

.texto-menu-itens{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
    left: 35px;
    top: 10px;
}

.menu-ativo{
    background: #FDF1EB;
}

.menu-ativo::before{
    content: '.';
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    color: transparent;
    position: absolute;
    font-size: 34px;
}


#opcao-apresentacao{
    flex: none;
    order: 2;
    flex-grow: 0;
}

#texto-apresentacao{
    position: relative;
}


#opcao-comites{
    flex: none;
    order: 3;
    flex-grow: 0;
}

#texto-comites{
    position: relative;
}

#opcao-autores{
    flex: none;
    order: 4;
    flex-grow: 0;
}

#texto-autores{
    position: relative;
}

#opcao-eixosTematicos{
    flex: none;
    order: 5;
    flex-grow: 0;
}

#texto-eixosTematicos{
    position: relative;
}

#opcao-trabalhos{
    flex: none;
    order: 6;
    flex-grow: 0;
}

#texto-trabalhos{
    position: relative;
}

#opcao-contato{
    flex: none;
    order: 7;
    flex-grow: 0;
}

#texto-contato{
    position: relative;
}







/* ----------- Disposição do conteúdo principal da página ------------- */

#body{
    display: flex;
}

#conteudo-principal{
    position: relative;
    width: 82%;
    left: 18%;
}

#conteudo{
    position: relative;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    height: 69px;
    position: relative;
    background-color: var(--light-orange);
    width: 100%;
    gap: 10px;
}

#divisao-titulo-botoes{
    display: flex;
    position: relative;
    gap: 31px;
    height: 64px;
    width: calc(100% - 36px - 45px);
    margin-left: 36px;
    margin-top: 20px;
    margin-right: 45px;
}

#divisao-video-detalhes{
    display: flex;
    position: relative;
    margin-left: 36px;
    gap: 31px;
    flex-direction: row;
    margin-top: 19px;
    margin-right: 45px;
    margin-bottom: 5px;
    height: 100%;
    object-fit: cover;
}

.box-textos{
    position: relative;
    margin-top: 30px;
    margin-left: 36px;
    margin-right: 45px;
    margin-bottom: 20px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}







/* Header */

#cabecalho{
    position: relative;
    display: block;
    width: 60%;
    margin-left: 36px;
    margin-top: 5px;
    margin-right: 10px;
}

#cabecalho div{
    position: relative;
    text-align: start;
}

#cabecalho h5, h1{
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--light-brown);
}

#cabecalho h5{
    font-size: 14px;
}

#cabecalho h1{
    font-size: 22px;
}

#selecao-idioma{
    position: relative;
    text-align: center;
    margin-top: 17px;
}

#idioma{
    height: 34px;
    width: 97px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: var(--light-orange);
    text-align: center;
    cursor: pointer;
    appearance: none;
    font-family: 'Quicksand';
    font-weight: 400;
}

#selecao-idioma::after{
    content: url(/imagens/dropdown.svg);
    position: absolute;
    left: 75px;
    top: 7px;
    cursor: pointer;
}

#globo-idioma{
    position: absolute;
    top: 5px;
    left: 6px;
}

#email-usuario{
    position: relative;
    min-width: 180px;
    text-align: end;
    font-family: 'Quicksand';
    font-weight: 400;
    margin-right: 10px;
    width: 10%;
}

#email-usuario p:nth-child(1){
    margin-top: 13px;
    margin-bottom: 1px;
    font-size: 17px;
}

#email-usuario p:nth-child(2){
    margin-top: 0px;
    margin-bottom: 17px;
    font-size: 12px;
}

#foto-perfil{
    position: relative;
    text-align: center;
    top: 17px;
    min-width: 50px;
    margin-right: 5px;
}

#foto-perfil div{
    width: 100%;
}

#foto-perfil img{
    border-radius: 50%;
    margin-right: 20px;
    right: 20px;
    margin-left: 5px;
}

#foto-perfil::after{
    content: '2';
    background-color: #F85959;
    border-left: 3px solid #F85959;
    border-right: 3px solid #F85959;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Roboto';
    position: relative;
    top: -42px;
    left: 5px;
}






/* Conteúdo */

#conteudo h1{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
    color: var(--orange);
    
}

#titulo{
    order: 0;
    position: relative;
    width: 80%;
}

#botoes{
    order: 1;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    float: right;
}

#botoes-pergunta-local{
    position: relative;
    width: 30%;
    align-content: center;
    text-align: center;
}

#botoes-pergunta{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#pergunta{
    position: relative;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: var(--orange);
    margin-top: 12px;
    order: 2;
}





/* VIDEO PLAYER */

#player-video{
    background-image: url(/imagens/dewey1.png);
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: flex-start; 
}

#player-video:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 768px;
    height: 100%;
    background: rgba(141, 53, 6, 0.5);
    content: '';
    border-radius: 3px;
    object-fit: contain;
}

#player-video div{
    color: #fff;
    position: absolute;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    text-align: left;
    line-height: 25px;
    letter-spacing: 1.5px;
    padding-left: 32px;
    padding-top: 35px;
    width: 90%;
}

#box-texto-overlay{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

#texto-overlay1{
    position: relative;
    text-align: left;
    padding-right: 0px;
    padding-top: 0;
    height: 50%;
    top: 0;
    left: 0;
}

#texto-overlay2{
    position: relative; 
    height: 50%;
    bottom: 0;
    display: flex;
    left: 0;
    align-items: center;
    padding-top: 50px;
}

#texto-overlay2 img{
    object-fit: contain;
    width: 13%;
}

#texto-overlay2 div{
    position: relative;
    justify-content: center;
    padding-top: 0;
    padding-left: 17px;
}

#nome-autor{
    font-size: 34px;
}

#faculdade-autor{
    font-size: 20px;
}



/* SESSÃO DETALHES */

#detalhes{
    position: relative;
    width: 31%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    overflow: scroll;
    align-items: flex-end;
    right: 0px;
    overflow-x: hidden;
}

#topico{
    padding-top: 12px;
    background-color: var(--light-orange);
    width: calc(100% - 15px) ;
    height: 33px;
    padding-left: 15px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    color: #4E4E4E;
    position: relative;
}

#texto-detalhes{
    font-family: 'Quicksand';
    color: #5C5C5C;
    font-size: 12px;
    width: 100%;
}

#topicos-detalhes{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.bold{
    font-size: 12px;
    color: #5C5C5C;
    font-weight: bold;
}

#autores-detalhes{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

#os-autores{
    font-size: 14px;
}

#legenda-detalhes{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 27px;
    font-weight: 200;
}


/* --------------- RESUMO-DISCUSSÕES ------------------------ */

.box-topico-textos{
    background-color: var(--light-orange);
    height: 35px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    color: #4E4E4E;
    text-align: start;
    padding-top: 10px;
    padding-left: 15px;
}

.box-conteudo-textos{
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 14px;
    margin: 15px;
    line-height: 23px;
    color: #5C5C5C;
    text-align: justify;
    align-self: stretch;
}

#ver-mais{
    color: var(--orange);
    font-weight: 700;
    cursor: pointer;
}

#ideias-duvidas-textos{
    text-align: center;
}

#texto-ideias-duvidas{
    color: var(--orange);
    font-size: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    margin-top: 15px;
}

#icones-box-discussoes{
    margin-top: 27px;
    margin-bottom: 35px;
}

#botao-criar-topico{
    margin-top: 14px;
    width: 133px;
    height: 32px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    background: var(--gradient-orange);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border: 1px;
    border-radius: 4px;
    text-align: end;
    padding-right: 13px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
}

#criar-topico::before{
    background-image: url(/imagens/icon\ -\ criar.png);
    position: relative;
    content: '-----';
    color: transparent;
    object-fit: contain;
    background-repeat: no-repeat;
    left: 3px;
    top: 1px;
    box-shadow: 0;
}

.criando-topico{
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.hr{
    position: relative;
    top: -15px;
    z-index: -2;
    border-radius: 1px;
    border: 1px solid #E7E7E7;
}

.assuntos{
    margin-top: 15px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 17px 24px;
    text-align: start;
}

.titulo-assunto{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #ED7839;
    line-height: 20px;
}

.autor-assunto{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #5C5C5C;
    line-height: 15px;
    margin-top: 3px;
}

.assunto-comentado{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
    margin-top: 10px;
}

.feedback{
    display: flex;
    margin-top: 11px;
}

.decoration{
    display: flex;
    flex-direction: column;
    margin-right: 0px;
}

.decoration img{
    margin: 1.5px 0px;
}

.decoration img:first-child{
    margin-top: 3px;
}

.botao-like{
    margin-right: 15px;
}

.botao-like::before{
    background-image: url(/imagens/green\ apples\ 22.png);
    position: relative;
    content: '.....';
    width: 23px;
    height: 23px;
    left: 25px;
    color: transparent;
    top: -5px;
    background-repeat: no-repeat;
}

.quantidade-likes-respotas{
    font-family: 'Segoe UI';
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #757575;
}

footer{
    padding-left: 20px ;
    text-align: start;
    padding-right: 45px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#footer-divisao{
    display: flex;
    flex-direction: row;
}

/* .imagem-logo-galoa{
    object-fit: contain;
    align-items: center;
    align-self: center;
} */

.botao-saiba-mais{
    width: 90%;
    position: relative;
    align-items: center;
    align-self: center;
    margin: 0 auto;
    margin-left: 12px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #71478E;
    color: #fff;
    font-family: 'Quicksand';
    font-size: 14px;
    font-weight: 200;
}

.texto-footer{
    font-family: 'Quicksand';
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
    color: #4D4D4D;
}

.texto-footer span{
    font-weight: 900;
    color: #5C5C5C;
}

@media(max-width: 780px){
    #footer-divisao{
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
    }
    
    #logo-galoa{
        padding-left: 60px;
    }
}