@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --orange: #ED7839;
    --light-orange: #FDF1EB;
    --light-brown: #725C5C;
    --dark-grey: #4E4E4E;
    --gradient-orange: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

/* side-menu */

.side-menu{
    position: fixed;
    width: 18%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    order: 0;
}

/* side-bar */

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 68px;
    width: 100%;
}



/* Tipo */

#nome-evento{
    position: relative;
    height: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: var(--gradient-orange);
    width: 100%;
    text-align: center;
}


#textoSlaca{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    top: 20%;
}



/* logo */

#logoSlaca{
    position: relative;
    width: 100%;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: center;
}

#logoSlaca img{
    object-fit: contain;
    max-height: 220px;
    max-width: 258px;
    width: 100%;
    height: 100%;
} 



/* Opções do menu */

.menu-itens{
    position: relative;
    width: 100%;
    height: 38px;
    text-decoration: none;
    border-bottom: 2px solid #E7E7E7;
}

.texto-menu-itens{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
    left: 35px;
    top: 10px;
}

.menu-ativo{
    background: #FDF1EB;
}

.menu-ativo::before{
    content: '.';
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    color: transparent;
    position: absolute;
    font-size: 34px;
}


#opcao-apresentacao{
    flex: none;
    order: 2;
    flex-grow: 0;
}

#texto-apresentacao{
    position: relative;
}


#opcao-comites{
    flex: none;
    order: 3;
    flex-grow: 0;
}

#texto-comites{
    position: relative;
}

#opcao-autores{
    flex: none;
    order: 4;
    flex-grow: 0;
}

#texto-autores{
    position: relative;
}

#opcao-eixosTematicos{
    flex: none;
    order: 5;
    flex-grow: 0;
}

#texto-eixosTematicos{
    position: relative;
}

#opcao-trabalhos{
    flex: none;
    order: 6;
    flex-grow: 0;
}

#texto-trabalhos{
    position: relative;
}

#opcao-contato{
    flex: none;
    order: 7;
    flex-grow: 0;
}

#texto-contato{
    position: relative;
}



/* Header */

#cabecalho{
    position: relative;
    display: block;
    width: 60%;
    margin-left: 36px;
    margin-top: 5px;
    margin-right: 10px;
}

#cabecalho div{
    position: relative;
    text-align: start;
}

#cabecalho h5, h1{
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--light-brown);
}

#cabecalho h5{
    font-size: 14px;
}

#cabecalho h1{
    font-size: 22px;
}

#selecao-idioma{
    position: relative;
    min-width: 110px;
    text-align: center;
    margin-top: 17px;
}

#idioma{
    height: 34px;
    width: 97px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: var(--light-orange);
    text-align: center;
    cursor: pointer;
    appearance: none;
    font-family: 'Quicksand';
    font-weight: 400;
}

#selecao-idioma::after{
    content: url(/imagens/dropdown.svg);
    position: relative;
    left: -23px;
    cursor: pointer;
}

#globo-idioma{
    position: absolute;
    top: 5px;
    left: 6px;
}

#email-usuario{
    position: relative;
    min-width: 190px;
    text-align: end;
    font-family: 'Quicksand';
    font-weight: 400;
    margin-right: 20px;
}

#email-usuario p:nth-child(1){
    margin-top: 13px;
    margin-bottom: 1px;
    font-size: 17px;
}

#email-usuario p:nth-child(2){
    margin-top: 0px;
    margin-bottom: 17px;
    font-size: 12px;
}

#foto-perfil{
    position: relative;
    text-align: center;
    top: 17px;
    min-width: 50px;
    margin-right: 5px;
}

#foto-perfil div{
    width: 100%;
}

#foto-perfil img{
    border-radius: 50%;
    margin-right: 20px;
    right: 20px;
    margin-left: 5px;
}

#foto-perfil::after{
    content: '2';
    background-color: #F85959;
    border-left: 3px solid #F85959;
    border-right: 3px solid #F85959;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Roboto';
    position: relative;
    top: -42px;
    left: 5px;
}



/* ----------- Disposição do conteúdo principal da página ------------- */

#body{
    display: flex;
}

#conteudo-principal{
    position: relative;
    width: 82%;
    left: 18%;
}

#conteudo{
    position: relative;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    height: 69px;
    position: relative;
    background-color: var(--light-orange);
    width: 100%;
    gap: 10px;
}

#divisao-titulo-botoes{
    display: flex;
    position: relative;
    gap: 31px;
    height: 64px;
    width: calc(100% - 36px - 45px);
    margin-left: 36px;
    margin-top: 20px;
    margin-right: 45px;
}

#divisao-video-detalhes{
    display: flex;
    position: relative;
    margin-left: 36px;
    gap: 31px;
    flex-direction: row;
    margin-top: 19px;
    max-height: 80%;
    margin-right: 45px;
    margin-bottom: 5px;
    max-height: 750px;
}

#resumo{
    position: relative;
    margin-top: 30px;
    margin-left: 36px;
    margin-right: 45px;
}



/* Conteúdo */

#conteudo h1{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
    color: var(--orange);
    
}

#titulo{
    order: 0;
    position: relative;
    width: 80%;
}

#botoes{
    order: 1;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    float: right;
}

#direita-titulo{
    position: relative;
    width: 30%;
    align-content: center;
    text-align: center;
}

#teste{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#pergunta{
    position: relative;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: var(--orange);
    margin-top: 12px;
    order: 2;
}

#player-video{
    position: relative;
    width: 100%;
    height: 50%;
    max-height: 620px;
}

#player-video img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: relative;
    max-height: 620px;
}

#player-video::before{
    content: '';
    background: rgba(141, 53, 6, 0.5);
    position: absolute;
    width: 100%;
    height: 99%;
    z-index: 2;
    max-width: 1106px;
}

#detalhes{
    width: 32%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    overflow-y: scroll;
    align-items: flex-end;
    overflow: hidden;
}

#topico{
    padding-top: 12px;
    background-color: var(--light-orange);
    width: calc(100% - 15px) ;
    height: 33px;
    padding-left: 15px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    color: #4E4E4E;
}

#texto-detalhes{
    font-family: 'Quicksand';
    color: #5C5C5C;
    font-size: 12px;
    width: 100%;
}

#topicos-detalhes{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.bold{
    font-size: 12px;
    color: #5C5C5C;
    font-weight: bold;
}

#autores-detalhes{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

#os-autores{
    font-size: 14px;
}

#legenda-detalhes{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 27px;
}

#resumo{
    position: relative;
    display: block;
}

@media (max-width: 1360px){
    #detalhes{
       max-height: 412px;
    }
}

@media (max-width: 1280px){
    #detalhes{
       max-height: 396px;
       overflow: hidden;
       overflow-y: scroll;
    }  
}

@media (max-width: 1200px){
    #detalhes{
        max-height: 369px;
     }
}

@media (max-width: 1152px){
    #detalhes{
        max-height: 352px;
     }
}

@media (max-width: 1024px){
    #detalhes{
        max-height: 308px;
     }
}
@media (max-width: 1000px) {
    #divisao-video-detalhes{
        flex-direction: column;
    }
    
    #detalhes{
        width: 100%;
    }
}